.git/
.venv/
.databricks/
.env
.env.*
.idea/
.vscode/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/
data/
logs/
docs/
images/
spark-warehouse/
metastore_db/

