POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# --- Azure Data Lake Storage Gen2 ---
AZURE_STORAGE_ACCOUNT=<yourstorageaccount>
AZURE_CONTAINER=lakehouse
AZURE_STORAGE_AUTH_TYPE=account_key
AZURE_STORAGE_ACCOUNT_KEY=<from-key-vault-or-set-here>
