.venv/
.env
.env.cloud
.idea/
.vscode/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
spark-warehouse/
metastore_db/
derby.log
images/
docs/

build/
dist/
*.egg-info/
.databricks/

data/lakehouse/**
!data/lakehouse/.gitkeep
logs/
schema/dwhSchema.sql

*.log
*.zip
