.venv/
.env
.idea/
.vscode/
.github/

__pycache__/
__init__.py
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

build/
tests/
dist/
*.egg-info/

data/lakehouse/**
!data/lakehouse/.gitkeep
README.md
schema/dwhSchema.sql

*.log
*.zip

